<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css" />
    <link rel="stylesheet" href="/assets/bundle.min.css" />
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <aside>
      <ul>
        <% documents.map((document) => { %>
        <li data-key="/<%- document.filename %>">
          <a title="<%- document.title %>" href="/<%- document.filename %>"
            hx-get="/<%- document.filename %>.html" hx-target="#main"
            hx-push-url="/<%- document.filename %>"><%- document.title %></a>
        </li>
        <% }) %>
      </ul>
    </aside>
    <main>
      <section id="main"></section>
      <footer>
        <small>© 박성범</small>
      </footer>
    </main>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script>
    function toggleAsideItem(key) {
      for (const item of document.querySelectorAll('aside > ul > li')) {
        item.classList.remove('active');
        if (item.getAttribute('data-key') === key) {
          item.classList.add('active');
        }
      }
    }

    document.addEventListener('DOMContentLoaded', function () {
      const path = window.location.pathname;
      const hash = window.location.hash;
      const el = document.getElementById('main');
      if (path && path !== '/') {
        el.setAttribute('hx-get', `${path}.html`);
        toggleAsideItem(path);
      } else {
        el.setAttribute('hx-get', 'simonpedia.html');
        toggleAsideItem('/simonpedia');
      }
      el.setAttribute('hx-trigger', 'load');
      htmx.process(el);

      (() => {
        const items = document.querySelectorAll('aside > ul > li > a');
        items.forEach(link => {
          link.addEventListener('click', event => {
            toggleAsideItem(event.target.getAttribute('href'));
          });
        });
      })();
    });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>mermaid.initialize({ startOnLoad:true });</script>
  </body>
</html>
