<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css" />
    <link rel="stylesheet" href="/assets/bundle.min.css" />
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <aside>
      <ul>
        <% documents.map((document) => { %>
        <li data-key="/<%- document.filename %>">
          <a title="<%- document.title %>" href="/<%- document.filename %>"
            hx-get="/<%- document.filename %>.html" hx-target="#main"
            hx-push-url="/<%- document.filename %>"><%- document.title %></a>
        </li>
        <% }) %>
      </ul>
    </aside>
    <main>
      <section id="main"></section>
      <footer>
        <small>© 박성범</small>
      </footer>
    </main>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script>
    function pathname() {
      const { pathname: path } = window.location;
      return (path && path !== '/') ? path : '/simonpedia'
    }

    document.addEventListener('DOMContentLoaded', () => {
      htmx.ajax('GET', `${pathname()}.html`, '#main');
    });

    document.body.addEventListener('htmx:afterSwap', event => {
      htmx.findAll('aside > ul > li').forEach(el => htmx.removeClass(el, 'active'));
      htmx.addClass(htmx.find(`aside > ul > li[data-key="${pathname()}"]`), 'active');
      document.title = htmx.find('article > h1').textContent;
    });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>mermaid.initialize({ startOnLoad:true });</script>
  </body>
</html>
