<header role="navigation">
  <div>
    <div class="sidebar-toggle" hx-on:click="toggleSidebar()">#</div>
    <div class="breadcrumbs">
      <small>
        <ul>
          <% document.breadcrumbs.map((breadcrumb) => { %>
          <li>
            <a href="/<%- breadcrumb.filename %>.html" hx-get="/<%- breadcrumb.filename %>.html" hx-swap="show:top"
              hx-target="#main" hx-push-url="/<%- breadcrumb.filename %>"
              hx-on:click="select('/<%- breadcrumb.filename %>') && scrollToActive()"><%- breadcrumb.title %></a>
          </li>
          <% }) %>
        </ul>

      </small>
    </div>
  </div>
  <div class="meta">
    <a class="external" href="https://github.com/parksb/pedia/commits/master/docs/<%- document.filename %>.md">@</a>
    <a class="external" href="https://raw.githubusercontent.com/parksb/pedia/master/docs/<%- document.filename %>.md">M</a>
  </div>
</header>
<article>
<%- document.html %>
<% if (document.referredFrom.length > 0) { %>
  <section class="backlinks">
    <small>
      Backlinks:
      <ul>
        <% document.referredFrom.map((document) => { %>
        <li>
          <a href="/<%- document.filename %>.html" hx-get="/<%- document.filename %>.html" hx-swap="show:top"
            hx-target="#main" hx-push-url="/<%- document.filename %>"
            hx-on:click="select('/<%- document.filename %>') && scrollToActive()"><%- document.title %></a>
        </li>
        <% }) %>
      </ul>
    </small>
  </section>
<% } %>
</article>
